@import '_colors.styl'

.bills-list
    padding 20px
    border-radius 10px
    .bills-list_title
        display inline-block
        font-weight 800
        font-size 20px
        margin-bottom 10px
    .bill, .bills-list_headers
        display flex
        justify-content space-between
        span, button
            width 150px
        .bill-title
            font-weight 400
        .bill-amount
            font-weight 600
        .bill-delete
            display inline
    .bills-list_headers
        font-weight 700
        color c_blue