@import '_colors.styl'

.bills-list
    padding 20px
    border-radius 10px
    .bills-list_title
        display inline-block
        font-weight 800
        font-size 20px
        margin-bottom 10px
    .bill, .bills-list_headers
        display flex
        justify-content space-between
        span
            width 200px
        .bill-title
            font-weight 400
        .bill-value
            font-weight 600
            color c_red
    .bills-list_headers
        font-weight 700
        color c_blue